################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MainProject/App_Data/my-first-project-381923-316111010eb8.json
