@{
    ViewBag.Title = "Index";
}

<!--
     * This is the Class for Index(HomePage) page.
     * Version: 0.4
     * Author: Ruosong Chen, Qihang Wang
-->
<style>
/*    p {
        color: #777;
        text-align: center;
    }*/

    form {
        text-align: center;
        margin-top: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="number"] {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 5px;
        width:80%
    }

    button[type="submit"] {
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #0056b3;
    }

    #result {
        margin-top: 20px;
        text-align: center;
        font-weight: bold;
        color: red;
        font-size: 12px;
    }

    main {
        margin-top: 80px;
    }
</style>

<main>
    <!-- Link to Sunscreen Calculator at the top right corner -->
    <!--<a href="/Home/Calculator">-->
    <!-- Card for Sunscreen Calculator -->
    <!--<div class="card" style="position: fixed; top: 20px; right: 20px; width: 400px; background-color: rgba(255, 255, 255, 0.8); overflow: hidden;" id="card1">
        <div class="card-body">-->
    <!-- Calculator Icon -->
    <!--<img src="https://cdn-icons-png.flaticon.com/512/8841/8841452.png" alt="Calculator Icon" style="float: left; margin-right: 10px; max-width: 50px; max-height: 50px;">-->
    <!-- Title for Sunscreen Calculator -->
    <!--<h5 class="card-title">New Sunscreen Calculator</h5>-->
    <!-- Description for Sunscreen Calculator -->
    <!--<p class="card-text">Want to know how much Sunscreen you need to apply?</p>
            </div>
        </div>
    </a>-->
    <!-- Section containing the main title -->
    <section class="row" aria-labelledby="aspnetTitle">
        <!-- Main title with logo and text -->
        <p style="font-size:40px; font-weight:bolder;">
            Safeguarding Your Family's Health: Understand the UV Index
        </p>
        <p style="font-size:16px;">
            The UV index measures the strength of the Ultraviolet Radiation at Earth's surface. A higher level of UV index indicates greater skin damage and even greater need for sun protection. Australian parents can protect themselves and their children from hamrful  sun rays by using the realtime UV index update, super fun sun safety tips, and sunprotection habits tracking pdf. The UV Index scale provides guidelines for safe, moderate, and high level danger to help moderate your outdoor activities. By keeping an eye on UV index, parents can plan their activities during the times when sun is less intense, ensuring a fun and safe time for them.
        </p>
    </section>

    <!-- Two-column layout -->
    <div class="row">
        <!-- Left column -->
        <div class="col-md-6">
            <!-- Card for displaying UV index -->
            <div class="card" style="text-align: center; height: 250px; background-color: @ViewBag.Color;">
                <div class="card-body">
                    <!-- Title for UV index -->
                    <p style="font-size: 30px;">UV index</p>
                    <!-- Display UV index value -->
                    <h2 id="uvindex" style="font-size: 100px; font-weight: bold;">@ViewBag.Message</h2>
                    <!-- Link to more info about UV index -->
                    <div style="position: absolute; bottom: 0; right: 0; width: 150px; height: 120px;">
                        <a href="/Home/MoreInfo" style="display: block; width: 100%; height: 100%;">
                            <img src="~/imagine/moreinfo.gif" style="width: 100%; height: 100%;" type="image/gif">
                        </a>
                    </div>
                </div>
            </div>

            <!-- UV index image and Calculator -->
            <div class="row mt-3">
                <!-- Left column for UV index image -->
                <div class="col-md-8 d-flex align-items-center justify-content-end">
                    <div class="card border-0" style="background-color: rgb(225, 225, 225, 0.7);">
                        <div class="card-body" style="text-align: center; height: 250px;">
                            <img src="~/imagine/uv_index.png" style="width: 100%; height: auto;">
                        </div>
                    </div>
                </div>
                <!-- Right column for Calculator card -->
                <div class="col-md-4 d-flex align-items-center justify-content-start">
                    <!-- Card for Sunscreen Calculator -->
                    <div class="card" style="background-color: rgba(255, 255, 255, 0.7); overflow: hidden;">
                        <div class="card-body" style="text-align: center; height: 250px;">
                            <!-- Form for Sunscreen Calculator -->
                            <form id="calculatorForm">
                                <label for="uvIndex">Sunscreen amount:</label>
                                <input type="number" id="uvIndex" name="uvIndex" required>
                                <button type="submit">Calculate</button>
                            </form>
                            <!-- Result for Sunscreen Calculator -->
                            <div id="result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right column -->
        <div class="col-md-6">
            <!-- Card for displaying tips -->
            <div class="card border-0" style="background-color: rgba(255, 255, 255,0.7);">
                <div class="card-body" style="text-align: center; height: 520px;">
                    <!-- Title for tips -->
                    <p style="font-size: 35px;  font-weight: bold ">TIPS</p>
                    <!-- Display tips -->
                    <h2 style="font-size: 20px; text-align: left ;line-height: 1.75;">@Html.Raw(ViewBag.Tips.Replace("\n", "<br>"))</h2>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    // When the window is loaded, get the default UV index value
    window.onload = function () {
        getDefaultUVI();
    }

    // Function to get the default UV index value from sessionStorage
    function getDefaultUVI() {
        var default_uv = sessionStorage.getItem('apidata_uvi_for_cal');
        console.log(default_uv);
        document.getElementById('uvIndex').value = default_uv;
    }

    // Event listener for form submission
    document.getElementById("calculatorForm").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent default form submission behavior

        // Get the UV index value from the input field as a floating point number
        var uvIndex = parseFloat(document.getElementById("uvIndex").value);

        // Check if the entered UV index is within the range of 0 to 15
        if (uvIndex >= 0 && uvIndex <= 15) {
            // Calculate the amount of sunscreen needed based on UV index
            var sunscreenAmount = calculateSunscreen(uvIndex);

            // Display the result
            document.getElementById("result").innerHTML = "Apply approximately <span style='font-size: 20px; color: red;'>" + sunscreenAmount.toFixed(2) + "</span> tablespoons of sunscreen.";
        } else {
            // Display an error message if the UV index is out of range
            document.getElementById("result").innerHTML = "Please enter a UV Index between 0 and 15.";
        }
    });

    // Function to calculate sunscreen amount based on UV index
    function calculateSunscreen(uvIndex) {
        if (uvIndex == 0)
            return 0;
        else if (uvIndex > 0 && uvIndex <= 2) {
            return 0.5;
        } else if (uvIndex > 2 && uvIndex <= 5) {
            return 1.0;
        } else if (uvIndex > 5 && uvIndex <= 7) {
            return 1.5;
        } else if (uvIndex > 7 && uvIndex <= 10) {
            return 2.0;
        } else {
            return 2.5;
        }
    }
</script>




