@{
    ViewBag.Title = "Link";
}
<!--
     * This is the Class for Link page.
     * Version: 0.1
     * Author: Qihang Wang
-->
<!DOCTYPE html>
<html lang="en">
<h2 id="title"> Spotlight on Sun Safety: Essential Reads for Australian Families </h2>

<head>
    <!-- CSS styles -->
    <style>
        /* Styles for table headers */
        table th {
            background-color: #687896;
        }
        /* Styles for table cells */
        table td {
            background-color: #a0a3cc;
        }
    </style>
</head>


<body>
    <!-- HTML body content -->
    <div class="row">
        <!-- Article 1 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article1.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            Severe sunburn in young Australians skyrockets
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            The Cancer Institute NSW reports a worrying rise in severe sunburn cases among youths in New South Wales, prompting calls for parents to ensure their children are adequately protected against harmful UV rays to mitigate melanoma risks. <a href="https://www.9news.com.au/national/severe-sunburn-rampant-among-young-aussies-parents-called-to-protect-children-this-summer/e5a7b7d0-cc4b-4c7d-9173-4faa53873781">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article 2 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article2.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            New Strategy to Combat Rising Sunburn Rates in NSW's Youth
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            The NSW Government's new strategy aims to tackle rising sunburn rates among youths by promoting sun safety to prevent skin cancer. Last year, over 800 emergency visits for sunburn were recorded, highlighting the urgent need for protective measures like sunscreen and clothing. <a href="https://www.nsw.gov.au/media-releases/alarming-rates-of-sunburn-in-children">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article 3 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article3.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            Sun Safety for Babies: Essential Protection Tips
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            Protecting babies from the sun involves minimizing direct exposure, especially for those under 12 months, and adopting sun safety measures such as protective clothing and cautious use of sunscreen for infants over six months. Choosing the right time and places with adequate shade is crucial for effective UV protection. <a href="https://www.health.qld.gov.au/newsroom/features/how-to-keep-your-baby-safe-from-the-sun">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article 4 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article4.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            UV Misunderstanding: Australians and Sun Protection Awareness
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            Nearly 90% of Australians misunderstand when sun protection is necessary, not realizing UV levels of 3 or above demand precautions. This gap in knowledge contributes to higher skin cancer risks, underscoring the need for improved UV awareness. <a href="https://www.cancer.org.au/media-releases/2018/9-in-10-australians-dont-know-when-they-need-sun-protection">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article 5 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article5.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            Sunscreen Confusion: Addressing Myths Among Australians
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            Cancer Council research indicates nearly half of Australians are confused about sunscreen, leading to misconceptions about its safety and effects on vitamin D levels. Efforts are being made to debunk myths and reinforce the importance of sunscreen alongside other protective measures against skin cancer. <a href="https://www.cancer.org.au/media-releases/2017/almost-half-of-australians-confused-about-sunscreen">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Article 6 -->
        <div class="col-md-9">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 180px; background-color: rgba(255, 255, 255, 0.5); display: flex; align-items: center;">
                <div class="card-body">
                    <!-- Image of Article1 -->
                    <img src="~/imagine/Article6.png" style="width: 25%; height: auto; object-fit: cover; object-position: left; float: left; margin-right: 20px;" />
                    <div>
                        <p style="font-weight: 700; text-align: left;">
                            Global Understanding and Impact of the UV Index: A Comprehensive Review
                        </p>
                        <p style="font-weight: 500; text-align: left;">
                            Research spanning over twenty years indicates the UV Index (UVI) aims to enhance skin cancer prevention awareness, yet global comprehension and application are generally low. Even with increased awareness, proper use of the UVI for safer sun behaviors remains minimal, suggesting a need for more targeted public education strategies to foster effective sun protection habits. <a href="https://www.sciencedirect.com/science/article/pii/S009174351930074X">Read more</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>