@{
    ViewBag.Title = "Link";
}
<!--
     * This is the Class for Link page.
     * Version: 0.1
     * Author: Qihang Wang
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS styles -->
    <style>
        /* Styles for table headers */
        table th {
            background-color: #687896;
        }
        /* Styles for table cells */
        table td {
            background-color: #a0a3cc;
        }
    </style>
</head>
<body>
    <!-- HTML body content -->
    <div class="row">
        <!-- Left column -->
        <div class="col-md-6">
            <!-- Card with image -->
            <div class="card" style="text-align: center; height: 800px; border: none; background-color: rgba(255, 255, 255, 0); overflow: hidden;">
                <div class="card-body">
                    <!-- Image of Brisbane -->
                    <img src="~/imagine/Brisbane.jpg" style="width: 100%; height: 780px; object-fit: cover; object-position: center;" />
                </div>
            </div>
        </div>
        <!-- Right column -->
        <div class="col-md-6">
            <!-- Introduction card -->
            <div class="card" style="text-align: left; height: 350px; background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-body">
                    <!-- Introduction text -->
                    <p style="font-weight: bold; text-align: center">Introduction</p>
                    <!-- Description of Brisbane -->
                    Brisbane, Queensland's vibrant capital, radiates warmth,
                    from its sunny climate to its welcoming locals.
                    Nestled on the banks of the Brisbane River, the city is a blend of lush parklands, urban sophistication,
                    and a thriving arts scene. The South Bank precinct, with its lush gardens, sandy beach, and cultural institutions,
                    including the Queensland Art Gallery and Gallery of Modern Art, is a cultural hub that attracts visitors and locals alike.
                    Brisbane's Story Bridge offers adventurous climbs and breathtaking panoramic views of the city. The city's culinary scene is dynamic,
                    featuring everything from riverside dining to street food markets, showcasing local produce and international flavors.
                    With year-round outdoor activities, Brisbane embodies the laid-back yet energetic spirit of Australia's Sunshine State,
                    making it an irresistible destination for all types of travelers.
                </div>
            </div>
        </div>
    </div>
   </body>
</html>