@{
    ViewBag.Title = "Melbourne";
}

<!--
     * This is the Class for Melbourne page.
     * Version: 0.4
     * Author: Ruosong Chen
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table th {
            background-color: #687896;
        }

        table td {
            background-color: #a0a3cc;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="text-align: center; height: 800px; border: none;background-color: rgba(255, 255, 255, 0); overflow: hidden;">
                <div class="card-body">
                    <img src="~/imagine/Melbourne.jpg" style="width: 100%; height: 780px; object-fit: cover; object-position: center;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="text-align: left; height: 350px; background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-body">
                    <p style="font-weight: bold; text-align: center">Introduction</p>
                    <b><big> Melbourne</big></b>, Australia's cultural capital, is celebrated for its eclectic blend of art, cuisine, and sports.
        Nestled in the heart of Victoria, it's distinguished by its Victorian-era architecture, labyrinthine laneways, and expansive gardens.
        The city is home to the Melbourne Cricket Ground, a mecca for sports enthusiasts, and the National Gallery of Victoria, showcasing local and international art.
        Melbourne's culinary scene is diverse, featuring everything from street food markets to high-end dining experiences.
        The Yarra River adds to the city's charm, offering picturesque walks and boating activities.
        With its vibrant arts scene, including live music and theatre, Melbourne embodies a fusion of tradition and contemporary flair, making it a compelling destination for visitors.
</div>
            </div>
            <div class="card" style="text-align: center; height: 200px; background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-body">
                    <p>Highest UV index prediction for next 8 days</p>
                    <table style="width:100%; border-collapse: collapse;">
                        <tr id="uvtableHeaderRow" style="background-color: #f2f2f2;">
                        </tr>
                        <tr id="uvtableBodyRow">
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card" style="text-align: center; height: 250px; background-color: rgba(255, 255, 255, 0.5);">
                <div class="card-body">
                    <p>Max-Min Temperature prediction for next 8 days</p>
                    <table style="width:100%; border-collapse: collapse;">
                        <tr id="tetableHeaderRow" style="background-color: #f2f2f2;">
                        </tr>
                        <tr id="maxtetableBodyRow">
                        </tr>
                        <tr id="mintetableBodyRow">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function useSessionStorageValue() {
            var time = sessionStorage.getItem("apidata_day");
            var uvi = sessionStorage.getItem("apidata_uvi");
            var maxTe = sessionStorage.getItem("apidata_maxte");
            var minTe = sessionStorage.getItem("apidata_minte");
            if (time && uvi) {
                var timestamps = time.split(",");
                var uvsplit = uvi.split(",");
                var headerRow = document.getElementById("uvtableHeaderRow");
                var bodyRow = document.getElementById("uvtableBodyRow");
                timestamps.forEach(function (item) {
                    var date = new Date(item * 1000);
                    var dateString = date.toUTCString();
                    var parts = dateString.split(" ");
                    var monthDayString = parts[2] + " " + parts[1];
                    var th = document.createElement("th");
                    th.style.border = "1px solid #ddd";
                    th.style.padding = "8px";
                    th.style.textAlign = "center";
                    th.textContent = monthDayString;
                    headerRow.appendChild(th);
                });
                uvsplit.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center";
                    td.textContent = item;
                    bodyRow.appendChild(td);
                });
            } else {
                console.log("No data found in sessionStorage.");
            }
            if (time && maxTe && minTe) {
                var maxTeS = maxTe.split(",");
                var minTeS = minTe.split(",");
                var timestamps = time.split(",");
                var headerRow = document.getElementById("tetableHeaderRow");
                var maxbodyRow = document.getElementById("maxtetableBodyRow");
                var minbodyRow = document.getElementById("mintetableBodyRow");
                timestamps.forEach(function (item) {
                    var date = new Date(item * 1000);
                    var dateString = date.toUTCString();
                    var parts = dateString.split(" ");
                    var monthDayString = parts[2] + " " + parts[1];
                    var th = document.createElement("th");
                    th.style.border = "1px solid #ddd";
                    th.style.padding = "8px";
                    th.style.textAlign = "center";
                    th.textContent = monthDayString;
                    headerRow.appendChild(th);
                });
                maxTeS.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center";
                    td.textContent = (item - 273.15).toFixed(1);
                    maxbodyRow.appendChild(td);
                });
                minTeS.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center";
                    td.textContent = (item - 273.15).toFixed(1);
                    minbodyRow.appendChild(td);
                });
            } else {
                console.log("No data found in sessionStorage.");
            }
        }

        window.onload = function () {
            useSessionStorageValue();
        };
    </script>

</body>

</html>