@{
    ViewBag.Title = "Sydney";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="text-align: center; height: 800px; border: none;background-color: rgba(255, 255, 255, 0.2); overflow: hidden;">
                <div class="card-body">
                    <img src="~/imagine/Sydney.jpg" style="width: 100%; height: 780px; object-fit: cover; object-position: center;" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="text-align: center; height: 350px;">
                <div class="card-body">
                    <p style="font-weight : bold">Introduction</p>
                    Sydney, Australia's heart, is renowned for its stunning beauty, iconic architecture, and cultural diversity. 
                    Located on the east coast, it's famous for the Sydney Opera House with its unique design, and the Harbour Bridge, offering magnificent views.
                    Bondi Beach is a haven for surfers. The city's history is alive in its historic buildings and The Rocks. 
                    Sydney is a center for arts, entertainment, and dining, with numerous international restaurants and vibrant markets. 
                    Its lush parks and vibrant harbor blend natural beauty with urban sophistication, making Sydney an essential visit for travelers.
                </div>
            </div>
            <div class="card" style="text-align: center; height: 200px;">
                <div class="card-body">
                    <p>Highest UV index prediction for next 8 days</p>
                    <table style="width:100%; border-collapse: collapse;">
                        <tr id="uvtableHeaderRow" style="background-color: #f2f2f2;">
                        </tr>
                        <tr id="uvtableBodyRow">
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card" style="text-align: center; height: 250px;">
                <div class="card-body">
                    <p>Max-Min Temperature prediction for next 8 days</p>
                    <table style="width:100%; border-collapse: collapse;">
                        <tr id="tetableHeaderRow" style="background-color: #f2f2f2;">
                        </tr>
                        <tr id="maxtetableBodyRow">
                        </tr>
                        <tr id="mintetableBodyRow">
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        function useSessionStorageValue() {
            var time = sessionStorage.getItem("apidata_day");
            var uvi = sessionStorage.getItem("apidata_uvi");
            var maxTe = sessionStorage.getItem("apidata_maxte");
            var minTe = sessionStorage.getItem("apidata_minte");
            if (time && uvi) {
                var timestamps = time.split(",");
                var uvsplit = uvi.split(",");
                var headerRow = document.getElementById("uvtableHeaderRow");
                var bodyRow = document.getElementById("uvtableBodyRow");
                timestamps.forEach(function (item) {
                    var date = new Date(item * 1000);
                    var dateString = date.toUTCString();
                    var parts = dateString.split(" ");
                    var monthDayString = parts[2] + " " + parts[1];
                    var th = document.createElement("th");
                    th.style.border = "1px solid #ddd";
                    th.style.padding = "8px";
                    th.style.textAlign = "center"; 
                    th.textContent = monthDayString;
                    headerRow.appendChild(th);
                });
                uvsplit.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center"; 
                    td.textContent = item;
                    bodyRow.appendChild(td);
                });
            } else {
                console.log("No data found in sessionStorage.");
            }
            if (time && maxTe && minTe) {
                var maxTeS = maxTe.split(",");
                var minTeS = minTe.split(",");
                var timestamps = time.split(",");
                var headerRow = document.getElementById("tetableHeaderRow");
                var maxbodyRow = document.getElementById("maxtetableBodyRow");
                var minbodyRow = document.getElementById("mintetableBodyRow");
                timestamps.forEach(function (item) {
                    var date = new Date(item * 1000);
                    var dateString = date.toUTCString();
                    var parts = dateString.split(" ");
                    var monthDayString = parts[2] + " " + parts[1];
                    var th = document.createElement("th");
                    th.style.border = "1px solid #ddd";
                    th.style.padding = "8px";
                    th.style.textAlign = "center";
                    th.textContent = monthDayString;
                    headerRow.appendChild(th);
                });
                maxTeS.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center";
                    td.textContent = (item - 273.15).toFixed(1);
                    maxbodyRow.appendChild(td);
                });
                minTeS.forEach(function (item) {
                    var td = document.createElement("td");
                    td.style.border = "1px solid #ddd";
                    td.style.padding = "8px";
                    td.style.textAlign = "center";
                    td.textContent = (item - 273.15).toFixed(1);
                    minbodyRow.appendChild(td);
                });
            } else {
                console.log("No data found in sessionStorage.");
            }
        }

        window.onload = function () {
            useSessionStorageValue();
        };
    </script>
        
</body>

</html>