@{
    ViewBag.Title = "About";
}

@model IEnumerable<MainProject.Models.QuestionTable>
<!DOCTYPE html>
<html>
<head>
    <title>Data View</title>
</head>
<body>
    <h1>Data View</h1>
    <table>
        <tr>
            <th>Questions</th>
            <th>WaterCredit</th>
            <th>CarbonCredit</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Question</td>
                <td>@item.WaterCredit</td>
                <td>@item.CarbonCredit</td>
            </tr>
        }
    </table>
</body>
</html>
