@{
    ViewBag.Title = "About";
}

@model IEnumerable<MainProject.Models.Table>
<!DOCTYPE html>
<html>
<head>
    <title>Data View</title>
</head>
<body>
    <h1>Data View</h1>
    <table>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CardName</td>
                <td>@item.Description</td>
            </tr>
        }
    </table>
</body>
</html>
