@{
    ViewBag.Title = "About";
}
@model IEnumerable<MainProject.Models.Database1Entities>

<!DOCTYPE html>
<html>
<head>
    <title>Display Cards</title>
</head>
<body>
    <h1>Card Data</h1>
    <div id="cardData">
        @foreach (var card in Model)
        {
            <div>
                <p>card name: @card.CardName</p>
                <p>Description: @card.Description</p>
            </div>
        }
    </div>
</body>
</html>
