@{
    ViewBag.Title = "cardGame";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <iframe id="unityFrame" src="~/Games/cardGame.html" style="width:1000px; height:800px"></iframe>
</body>


</html>