@{
    ViewBag.Title = "Information";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS styles -->
    <style>
        /* Styles for table headers */
        table th {
            background-color: #687896;
        }
        /* Styles for table cells */
        table td {
            background-color: #a0a3cc;
        }
    </style>
</head>


<body>
    <div class="container">
        <!-- HTML body content -->
        <div class="row">
            <!-- Elevator Pitch -->
            <div class="col-auto">
                <!-- Card with image -->
                <div style="margin-bottom: 30px;">
                    <div class="card" style="text-align: left; height: 200px; background-color: rgba(255, 255, 255, 0.5); align-items: center; border: none; border-bottom: 1px solid #ccc; ">
                        <div class="card-body">
                            <div>
                                <h2>Elevator Pitch <img src="~/Media/co2.jpg" style="width: 20%; height: auto; float: right;" /></h2>
                                <h3>More content Here </h3>
                                <a href="Index" class="btn btn-primary">Begin Lesson</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom: 30px;">
                    <div class="card" style="text-align: left; height: 200px; background-color: rgba(255, 255, 255, 0.5); align-items: center; border:none; border-bottom: 1px solid #ccc;">
                        <div class="card-body">
                            <div>
                                <h2>
                                    Features
                                    <img src="~/Media/co2.jpg" style="width: 20%; height: auto; float: right;" />
                                    <img src="https://via.placeholder.com/100" style="width: 10%; height: auto; float: right;" />
                                    <img src="https://via.placeholder.com/100" style="width: 10%; height: auto; float: right;" />
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom: 30px;">
                    <div class="card" style="text-align: left; height: 200px; background-color: rgba(255, 255, 255, 0.5); border: none; border-bottom: 1px solid #ccc; ">
                        <div class="card-body">
                            <div>
                                <h2>How it works:</h2>
                                <h5>1. </h5>
                                <h5>2. </h5>
                                <h5>3. </h5>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom: 30px;">
                    <div class="card" style="text-align: left; height: 200px; background-color: rgba(255, 255, 255, 0.5); align-items: center; border:none; border-bottom: 1px solid #ccc;">
                        <div class="card-body">
                            <div>
                                <h2>
                                    Your children is safe with us
                                    <img src="~/Media/co2.jpg" style="width: 20%; height: auto; float: right;" />
                                    <img src="https://via.placeholder.com/100" style="width: 10%; height: auto; float: right;" />
                                    <img src="https://via.placeholder.com/100" style="width: 10%; height: auto; float: right;" />
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-bottom: 30px;">
                    <div class="card" style="text-align: left; height: 200px; background-color: rgba(255, 255, 255, 0.5); align-items: center; border:none; border-bottom: 1px solid #ccc;">
                        <div class="card-body">
                            <div>
                                <h2>
                                    Frequently Asked Questions
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
