@{
    ViewBag.Title = "Information";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        .text {
            float: left;
            width: 40%;
            box-sizing: border-box;
            padding-top: 100px;
            padding-left: 60px;
        }

        .pic {
            float: right;
            width: 50%;
            box-sizing: border-box;
            padding-top: 100px;
            padding-right: 30px;
        }

        .pic img {
            max-width: 100%;
            height: auto;
        }

        .button-container {
            padding-left: 40px;
            padding-bottom: 20px;
            text-align: center;
        }

        .clearfix::after {
            content: "";
            display: table;
            clear: both;
        }

        #newContent1 {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 300px;
            margin-bottom: 300px;
        }

        #newContent1 > div {
            flex: 1;
            padding: 20px;
            text-align: left;
            background-color: white;
        }

        #newContent1 h2, #newContent1 p {
            margin: 0;
        }

        #newContent1 img {
            max-width: 100px;
            max-height: 100px;
            margin-right: 150px;
        }

        #newContent2 {
            display: flex;
            border: none;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 300px;
            margin-bottom: 300px;
        }

        #newContent2 > div {
            flex: 1;
            padding: 20px;
            text-align: left;
        }

        #newContent2 h2, #newContent2 p {
            margin: 0;
        }

        #newContent2 p {
            line-height: 5;
        }

        .step-list {
            display: flex;
            flex-direction: column;
        }

        .step-item {
            display: flex;
            align-items: center;
            margin-bottom: 50px;
        }

        .colored-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            color: white;
            background-color: dodgerblue;
            font-size: 16px;
            margin-right: 25px;
        }

        #newContent3 {
            display: flex;
            border: none;
            border-radius: 8px;
            overflow: hidden;
            margin-top: 60px;
            margin-bottom: 300px;
        }

        #newContent3 > div {
            flex: 1;
            width: 30%;
            justify-content: space-between;
            padding: 10px;
            text-align: center;
            background-color: white;
            border: none;
            border-radius: 8px;
            margin: 0 10px;
        }

        #newContent3 h2, #newContent3 p {
            margin: 0;
        }

        .title {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }

        .pic2 {
            float: right;
            width: 40%;
        }

        .pic2 p {
            margin-bottom: 20px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
        }

        .clearfix1 {
            display: flex;
            align-items: flex-start;
        }

        .text1, .pic21 {
            flex: 1;
            padding: 20px;
            padding-bottom: 30px;
            padding-left: 120px;
        }

        html, body {
            margin: 0;
            padding: 0;
            width: 100vw;
            overflow-x: hidden;
        }

        .backg {
            height: 90vh;
            width: 100vw;
            display: flex;
            position: absolute;
        }

        #backg1 {
            left: 0px;
            top: 0px;
            background-color: #f6d6b3;
            background-image: url('https://i.pinimg.com/originals/05/59/94/05599424bb5a1b7819956d0288559697.gif');
            z-index: -1;
        }

        #backg2 {
            left: 0px;
            top: 1350px;
            background-color: #f6d6b3;
            z-index: -1;
        }

        .backi {
            height: 50vh;
            width: 100vw;
            display: flex;
            position: absolute;
            left: 0px;
            top: 2650px;
            background-image:url(../../Media/3.jpg);
            z-index: -1;
        }

    </style>
</head>
<body>
    <div id="backg1" class="backg"></div>
    <div class="section">
        <div class="clearfix">
            <div class="text">
                <h1 style="color: black; font-size: 46px; font-family: 'Comic Sans MS';">
                    Transforming<br>
                    climate<br>
                    education<br>
                    into adventures
                </h1>
                <p style="color:dimgray">Transform climate education into interesting explorations where children become Green Guardians, exploring virtual landscapes, solving environmental mysteries, learning new skills and applying in different scenarios.</p>
            </div>

            <div class="pic">
                <img src="~/Media/Mom&Dad.png" alt="Placeholder Image">
            </div>
        </div>

        <div style="position: relative; padding-left: 90px;">
            <a href="Home/Index" style="color: white; text-decoration: none; background-color: dodgerblue; padding: 10px 20px; border-radius: 5px; position: relative; z-index: 1; animation: bounce 1s infinite;">Take a Tour</a>
        </div>

    </div>

    <div>
        <div style="float: left; padding-left: 10px; padding-top: 180px;">
            <h1 style="font-family:'Comic Sans MS'">Our Key Features</h1>
        </div>
    </div>


    <div id="newContent1" class="section">
        <!-- 2nd content -->
        <div>
            <img src="~/Media/Note.jpg" alt="Placeholder Image">
            <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Weekly Lessons</h2>
            <p>
                Immerse your child in the world of <br />
                climate change with our engaging card <br />
                game and accompanying video lesson <br />
            </p>
        </div>
        <div>
            <img src="~/Media/Note.jpg" alt="Placeholder Image">
            <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Weekly Checklist</h2>
            <p>
                Each themed checklist is tailored to<br />
                inspire climate-conscious actions,<br />
                empowering children to make a positive<br />
                impact on the environment.<br />
            </p>
        </div>
        <div>
            <img src="~/Media/Note.jpg" alt="Placeholder Image">
            <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Climate Explorer</h2>
            <p>
                A tool that lets your child visualize the<br />
                impact of their actions on Australia s<br />
                environment.<br />
            </p>
        </div>
    </div>

    <div id="backg2" class="backg"></div>

    <div id="newContent2" class="section">
        <!-- 3nd content -->
        <div>
            <h2 style="font-family:'Comic Sans MS'; margin-bottom:40px;">How Green Guardians work:</h2>
            <h4 style="margin-bottom: 40px;">Discover the magic of website name in just a few simple steps!</h4>
            <div class="step-list">
                <div class="step-item">
                    <span class="colored-btn">1</span>
                    <span style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size:larger;">Dive into our weekly video lesson and immerse yourself in the world of climate change. Then, challenge yourself with our card game.</span>
                </div>
                <div class="step-item">
                    <span class="colored-btn">2</span>
                    <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger;">Complete our themed checklist, designed to inspire climate-friendly behaviors and habits.</span>
                </div>
                <div class="step-item">
                    <span class="colored-btn">3</span>
                    <span style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: larger;">Using Climate Explorer, visualize how your actions contribute to environmental change and empower yourself to make a difference.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="title">
        <h2>Your Child is Safe with Us</h2>
    </div>
    <div id="newContent3" class="section">
        <!-- 4nd content -->

        <div>
            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">No collection of Personal Data</h4>
            <p>
                Our website operates with a no- <br />
                collection policy for personal data. <br />
                We prioritize your child’s privacy, <br />
                ensuring a secure browsing <br />
                experience at all times.<br />
            </p>
        </div>
        <div>
            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Moderated Content</h4>
            <p>
                Our dedicated team meticulously<br />
                curates all content featured on our<br />
                platform. Rest assured, your child will<br />
                only encounter material that is age-<br />
                appropriate, relevant, and aligned<br />
                with our educational objectives.<br />
            </p>
        </div>
        <div>
            <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">No Distressing Content</h4>
            <p>
                We understand that climate change<br />
                can be a distressing topic for<br />
                children. Through thoughtful<br />
                presentation, we aim to provide<br />
                information on climate change in a<br />
                manner that is reassuring<br />
            </p>
        </div>
    </div>

    <div id="backi" class="backi"></div>

    <div class="section">
        <div class="clearfix1">
            <div class="text1">
                <h1 style="color: black; font-size: 46px; font-family: Arial;">
                    Frequently Asked<br>
                    Questions<br>
                </h1>
            </div>

            <div class="pic21">
                <p>What age group is your platform designed for?</p>
                <p>How do you ensure the safety of children on your platform?</p>
                <p>What topics related to climate change do you cover?</p>
            </div>
        </div>
    </div>

</body>
</html>

