
@{
    Layout = null;
}
<!--
     * This is the Class for Landing page.
     * Version: 0.1
     * Author: Ruosong Chen, Qihang Wang
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LandingPage</title>
    <style>
        /* CSS styles for body, image, and welcome message */
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        #welcomeMessage {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            padding: 20px;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 10px;
            font-size: 70px;
            text-align: left;
            display: none;
            color: darkslategray;
            font-family: 'Lucida Handwriting', cursive;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <!-- Background image -->
    <img>
    <img src="~/imagine/WelcomePageV.gif" type="image/gif">
    <div id="welcomeMessage">
        Welcome! <br>
        Enjoy Sun. Enjoy Life.
    </div>

    <script>



    </script>

</body>
</html>
