@{
    ViewBag.Title = "LandingPage";
}
<!--
     * This is the Class for Landing page.
     * Version: 0.1
     * Author: Ruosong Chen, Qihang Wang
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LandingPage</title>
    <style>
        /* CSS styles for body, image, and welcome message */
        body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }

        #welcomeMessage {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
            padding: 20px;
            background-color: rgba(255, 255, 255, 0);
            border-radius: 10px;
            font-size: 70px;
            text-align: left;
            display: none;
            color: darkviolet;
            font-family: 'Lucida Handwriting', cursive;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <img>
    <img src="~/Media/giphy.gif" type="image/gif">
    <div id="welcomeMessage">
        welcome! <br>
        little climate warrior ^_^
    </div>
</body>
</html>

<script>
    // Function to execute when the window loads
    window.onload = function () {
        // Display the welcome message
        document.getElementById('welcomeMessage').style.display = 'block';

        // Redirect to homepage after 5 seconds
        setTimeout(function () {
            window.location.href = 'WelcomePage';
        }, 5000);
    };
</script>



