@{
    ViewBag.Title = "Map";
    ViewBag.HideNavbar = true;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Progress</title>
    <style>
        .map-container {
            width: 1500px;
            height: 970px;
            border: none;
            overflow: auto;
            float:left;
        }

        .map-container iframe {
            width: 100%;
            height: 100%;
            border: none;
        }

        .back-to-home {
            position: fixed;
            top: 20px;
            right: 20px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            z-index: 1000;
        }

        .back-to-home img {
            width: 80px;
            height: auto;
        }

        .card {
            width:13%;
            top:20px;
            right:1220px;
            position:absolute;
            border:none;
            height:auto;
        }

    </style>
</head>
<body>
    <button class="back-to-home" onclick="goToIndex()">
        <img src="~/Media/homebutton.png" alt="Home">
    </button>

    <div class="card">
        <img src="~/Media/scale_water.png" alt="water" />
        <img src="~/Media/scale_gas.png" alt="gas" />
        <img src="~/Media/scale_temp.png" alt="temp" />
    </div>

    <div class="map-container">
        <iframe src="~/d3_project/map.html" title="Map"></iframe>
    </div>

    <script>
        function goToIndex() {
            window.location.href = "Index";
        }
    </script>

    <script>
        var jsonData = @Html.Raw(Json.Encode(Model));
        sessionStorage.setItem('MapModelJson', JSON.stringify(jsonData));
    </script>
</body>
</html>

