/* styles.css */
body {
    display: grid;
    place-items: center;
    min-height: 100vh; /* This makes sure the body is at least the height of the viewport */
    margin: 0; /* Resets default margin */
}
  

h1 {
        font-family: 'Fredoka One', cursive; /* Applying the Fredoka One font */
        font-weight: 500;
        color: #606767;
        font-size: 48px;
        margin-bottom: 10px;
}

#map-canvas {
    border: 1px solid rgba(253, 252, 252, 0.937);
    width: 1360px; /* Specifies the width of the map canvas; can be omitted if set directly in the HTML */
    height: 800px; /* Specifies the height of the map canvas; can be omitted if set directly in the HTML */
}

.state {
    fill:0.6; /* Your dynamic fill based on data */
    stroke: #fdfafa; /* White or another color that stands out against your fill colors */
    stroke-width: 2.4 px; /* Making this larger will make the borders more visible */
    stroke-linejoin: round; /* This gives a smoother appearance to the corners */
}

/* Add this class to text elements if you want to style the state labels */
.dynamic-state-label {
    font-family: 'Open Sans', sans-serif; /* Applying the Fredoka One font */
    fill: #0f0f0f; /* Color of the text */
    pointer-events: none; /* Ensures that text doesn't interfere with map interaction */
    font-size: 16px; /* Increased font size for readability */
    font-weight: bold; /* Makes the font bold */
}

#control-panel {
    position: absolute;
    left: 100px;
    top: 400px;
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#control-panel label {
    display: block;
    margin: 5px 0px;
}
