/* styles.css */
body {
    display: grid;
    place-items: center;
    min-height: 100vh; /* This makes sure the body is at least the height of the viewport */
    margin: 0; /* Resets default margin */
}
  

h1 {
        font-family:'Epilogue'; /* Applying the Fredoka One font */
        font-weight: bold;
        color: #070808;
        font-size: 48px;
        margin-bottom: 10px;
}

#map-canvas {
    border: 1px solid rgba(253, 252, 252, 0.937);
    width: 1360px; /* Specifies the width of the map canvas; can be omitted if set directly in the HTML */
    height: 800px; /* Specifies the height of the map canvas; can be omitted if set directly in the HTML */
   /* position: relative; /* or 'absolute' if you need it positioned relative to the nearest positioned ancestor */
    top: 20px; /* Move down from the top by 20px */
    left: 200px; /* Move right from the left by 20px */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.state {
    fill:0.6; /* Your dynamic fill based on data */
    stroke: #fdfafa; /* White or another color that stands out against your fill colors */
    stroke-width: 2.4 px; /* Making this larger will make the borders more visible */
    stroke-linejoin: round; /* This gives a smoother appearance to the corners */
}

/* Add this class to text elements if you want to style the state labels */
.dynamic-state-label {
    font-family: 'Open Sans', sans-serif; /* Applying the Fredoka One font */
    fill: #0f0f0f; /* Color of the text */
    pointer-events: none; /* Ensures that text doesn't interfere with map interaction */
    font-size: 16px; /* Increased font size for readability */
    font-weight: bold; /* Makes the font bold */
}

#control-panel-current {
    position: absolute;
    left: 30px;
    top: 600px;
    background: #f0f4e1;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#control-panel-current label {
    display: block;
    margin: 7px 0px;
}

#options {
    font-family: 'Epilogue'; /* Applying the Fredoka One font */
    fill: #0f0f0f; /* Color of the text */
    pointer-events: none; /* Ensures that text doesn't interfere with map interaction */
    font-size: 14px; /* Increased font size for readability */
}


#current {
    background-color: rgb(248, 248, 248);
    color: rgb(7, 7, 7);
    border: 2px solid grey; /* Initial grey border */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  #current:hover {
    border-color: white;
   /* background-color: #555; /* Change background color to a lighter shade or a different color for visibility */
  }

  

 