@{
    ViewBag.Title = "Parents";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Layout</title>

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <!--<link href="~/css/style.css" rel="stylesheet">-->

    <style>
        .text-brown {
            color: white;
        }

        .boxed-link {
            border: 2px solid #A52A2A;
            border-radius: 5px;
        }

        .navbar-nav .nav-link {
            position: relative;
            transition: color 0.5s, border-bottom 0.5s;
            margin-right: 20px;
        }

            .navbar-nav .nav-link:hover {
                color: orangered;
            }

            .navbar-nav .nav-link::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 2px;
                width: 100%;
                height: 2px;
                background-color: orangered;
                transition: width 0.5s;
                transform: scaleX(0);
                transform-origin: left;
            }

            .navbar-nav .nav-link:hover::after {
                transform: scaleX(1);
            }

        .card {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: row;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 30px;
            font-weight: bold;
            font-family: Arial;
            margin-top: 10px;
            margin-bottom: 5px;
            color: black;
        }

        .card-content {
            flex: 1;
            margin-left: 30px;
            margin-bottom: 10px;
        }

        .card-header {
            background-color: red; /* 红色背景 */
        }

        .card-body {
            padding: 10px 0;
        }

        hr {
            margin: 0;
            border: none;
            height: 2px;
            background-color: black; /* 黑色分界线 */
        }

        .left-side {
            float: left;
            width: 30%;
            color: white;
            background-color: blue;
            padding: 10px;
        }

        .right-side {
            float: right;
            width: 70%;
            background-color: white;
            padding: 10px;
        }

        button {
            padding: 8px 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            button:hover {
                background-color: #0056b3;
            }

        .flip-card-content {
            transition: transform 0.5s, opacity 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .hidden {
            opacity: 0;
            transform: scale(0.95);
            display: none;
        }
    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container">
            @Html.ActionLink("Green Guardians", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-brown" href="@Url.Action("Dashboard", "Home")" style="font-weight: bolder;">
                                <img src="~/Media/go_to_dashboard.png" alt="Dashboard Icon" style="width: 180px; height: 50px; margin-right: 5px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
    <div style="display: flex; align-items: center;">
        <h1 style="text-align: left; margin-bottom: 20px; flex: 1;">
            <span>
                &#128107;
            </span> Welcome, Parents!
        </h1>
    </div>

    <!-- Teaching Resources -->
    <div style="margin-top:30px; margin-bottom:30px; display: flex; align-items: center;">
        <h4>Teaching Resources</h4>
        <h4 style="margin-left: 470px;">Activities with the kids</h4>
    </div>

    <!-- Activities -->
    <div class="card" style="position: absolute; width: 44%; height:300px; background-color: white; top: 280px; right: 30px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1 -->
            <div id="card1" style="display: block;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Nature Walks and Observations</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Take nature walks in different environments such as parks, forests, or beaches. <br />
                            Encourage kids to observe changes in the environment, such as plant growth, animal behaviour, and weather patterns.
                        </p>
                    </div>
                    <img src="~/Media/Walking.png" style="width: 280px;margin-left:35px;">
                </div>
            </div>

            <!-- page 2 -->
            <div id="card2" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Gardening</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Start a garden at home or involve kids in gardening. Teach them about the <br />
                            importance of plants in absorbing carbon dioxide and how gardening can help mitigate climate change.
                        </p>
                    </div>
                    <img src="~/Media/garden.png" style="width: 280px;margin-left:35px;">
                </div>
            </div>

            <!-- page 3 -->
            <div id="card3" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Energy Conservation Challenges</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Organise energy conservation challenges at home. Encourage kids to turn off
                            lights when not in use, unplug electronics, and reduce water usage. Discuss how
                            these small actions can improve the climate.
                        </p>
                    </div>
                    <img src="~/Media/energy.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 4 -->
            <div id="card4" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Recycling and Waste Management</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Involve kids in recycling activities and teach them about the importance of
                            waste reduction. Discuss how recycling can help conserve resources and reduce
                            the energy needed for production.
                        </p>
                    </div>
                    <img src="~/Media/recycle.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 5 -->
            <div id="card5" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Outdoor Adventures</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Plan outdoor adventures such as camping, hiking, or birdwatching that emphasises
                            the connection between nature and climate. Encourage kids to document their
                            observations and reflections in a nature journal.
                        </p>
                    </div>
                    <img src="~/Media/camping.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 6 -->
            <div id="card6" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Community Engagement</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 1.5;">
                            Get involved in community initiatives aimed at addressing climate change,
                            such as tree planting events, clean-up campaigns, or advocacy efforts. By
                            taking action together as a family, kids can feel empowered to make a positive impact on their environment.
                        </p>
                    </div>
                    <img src="~/Media/community.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 7 -->
            <div id="card7" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Climate-Friendly Cooking</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Spend time with kids in the kitchen preparing climate-friendly meals using
                            locally sourced, seasonal ingredients. Talk about the environmental benefits of
                            eating lower on the food chain, and reducing food waste.
                        </p>
                    </div>
                    <img src="~/Media/cooking.png" style="width: 280px; margin-left:35px; margin-top: 35px;">
                </div>
            </div>

            <!-- page 8 -->
            <div id="card8" style="display: none;">
                <div class="card-header" style="background-color: brown;">
                    <div class="card-title">Green Transportation Adventures</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 1.5;">
                            Explore alternative modes of transportation as a family, such as biking,
                            walking, or using public transit for outings and errands. Discuss the environmental
                            and health benefits of reducing car dependency and share experiences of exploring your neighbourhood in new ways.
                        </p>
                    </div>
                    <img src="~/Media/bicycle.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <button style="position:absolute; top:250px; right: 10px; z-index: 999" onclick="nextPage1()"> Next </button>

            @*<div class="button-container" style="">
                    <div class="mybutton1" onclick="nextPage1()">
                        <div class="btn">Next</div>
                    </div>
                </div>*@

        </div>
    </div>

    <!-- Book -->
    <div class="card">
        <div class="left-side">
            <div class="card-content">
                <div class="card-title" style="color:white;">Stories</div>
                <div style="color:white;">
                    Book 1
                </div>
            </div>
        </div>
        <div class="right-side">
            <div style="position: relative; width: 100%; height: 0; padding-top: 156.2500%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDOK-XQtI&#x2F;l8kEGmebSRVFKmMO52CWKA&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
            <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDOK-XQtI&#x2F;l8kEGmebSRVFKmMO52CWKA&#x2F;view?utm_content=DAGDOK-XQtI&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Story Book</a> by MZ 3N
        </div>
    </div>

    <!--  Helpful External Reads -->
    <div style="margin-bottom:10px;">
        <h4> Helpful External Reads</h4>
    </div>

    <div class="card" style="position: absolute; width: 43.5%; height:300px; background-color: white; top: 1090px; left: 100px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1-->
            <div class="page" id="page1" style="display: block;">
                <div class="card-header" style="background-color: red;">
                    <div class="card-title">Nature Walks and Observations</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Take nature walks in different environments such as parks, forests, or beaches. <br />
                            Encourage kids to observe changes in the environment, such as plant growth, animal behaviour, and weather patterns.
                        </p>
                    </div>
                    <img src="~/Media/star.png" style="width: 150px;">
                </div>
            </div>

            <!-- additional pages-->
            <div class="page" id="page2" style="display: none;">
                <div class="card-title">Gardening</div>
                <div style="color: black; margin-left: 30px;">
                    <h4>
                        Start a garden at home or involve kids in gardening. <br />
                        Teach them about the importance of plants in absorbing carbon dioxide and how gardening can help mitigate climate change.
                    </h4>
                </div>
            </div>

            <div class="button-container" style="float:right; margin-bottom:20px;">
                <div class="mybutton1" onclick="nextPage()">
                    <div class="btn">NEXT</div>
                </div>
            </div>

        </div>
    </div>

    <!-- Communication Tips -->
    <div style="position:absolute; top:640px; left:800px;">
        <h4>Communication Tips</h4>
    </div>

    <div class="card" style="position: absolute; width: 44%; height:300px; background-color: white; top: 730px; right: 30px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1 -->
            <div id="icon1" style="display: block;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Keep it Simple and Age-Appropriate</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Use language and concepts that are suitable for your child's age and level of understanding.
                            Avoid overwhelming them with complex scientific terminology.
                            Start with basic ideas and gradually build upon their understanding as they grow.
                        </p>
                    </div>
                    <img src="~/Media/icon1.png" style="width: 280px;margin-left:35px;">
                </div>
            </div>

            <!-- page 2 -->
            <div id="icon2" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Use Concrete Examples and Analogies</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Help your child grasp the concept of climate change by using relatable examples and analogies.
                            Compare the Earth's atmosphere to a blanket that regulates temperature or use everyday experiences
                            like weather patterns and seasons to illustrate changes over time.
                        </p>
                    </div>
                    <img src="~/Media/icon2.png" style="width: 280px;margin-left:35px;">
                </div>
            </div>

            <!-- page 3 -->
            <div id="icon3" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Energy Conservation Challenges</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Be a positive role model for your child by demonstrating environmentally friendly behaviours and lifestyle choices.
                            Show them how to reduce waste, conserve energy, and make sustainable consumer choices.
                            Your actions speak louder than words and can inspire your child to follow suit.
                        </p>
                    </div>
                    <img src="~/Media/icon3.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 4 -->
            <div id="icon4" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Recycling and Waste Management</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Encourage kids to ask climate change questions, fostering their  curiosity and civic responsibility.
                            Guide them in seeking trusted resources for information while cautioning about disinformation.
                            Avoid information overload, focus on meaningful exploration to prevent overwhelm and maintain realistic expectations,
                            preserving hope and efficacy.
                        </p>
                    </div>
                    <img src="~/Media/icon4.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 5 -->
            <div id="icon5" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Encourage Emotional Expression</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Create a supportive space for your child to express their emotions and concerns about climate change.
                            Validate their feelings of fear, frustration, or sadness while offering reassurance, hope, and encouragement.
                        </p>
                    </div>
                    <img src="~/Media/icon5.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 6 -->
            <div id="icon6" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Promote Solutions-Oriented Thinking</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 1.5;">
                            Shift the focus from fear and despair to action and solutions.
                            Encourage your child to brainstorm creative ideas for addressing
                            climate change in their own lives, schools, and communities.
                            Foster a problem-solving mindset by emphasising the importance of innovation
                            and collaboration in tackling environmental challenges.
                        </p>
                    </div>
                    <img src="~/Media/icon6.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <!-- page 7 -->
            <div id="icon7" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Inspiring Hope</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 1.3;">
                            Reassure kids of adults' dedication to solving climate change.
                            Highlight innovations like chinese panda-shaped solar farms and student-led
                            initiatives such as Turn It Off campaigns. Let them know millions are working
                            on solutions to protect their future, instilling hope and empowerment in facing environmental challenges together.
                        </p>
                    </div>
                    <img src="~/Media/icon7.png" style="width: 280px; margin-left:35px; margin-top: 35px;">
                </div>
            </div>

            <!-- page 8 -->
            <div id="icon8" style="display: none;">
                <div class="card-header" style="background-color: darkorange;">
                    <div class="card-title">Celebrate Eco-Friendly Achievements</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 1.5;">
                            Acknowledge and celebrate your child's eco-friendly behaviours and actions, no matter how small.
                            Praise them for turning off lights, recycling, conserving water, or expressing concern for the environment.
                            Positive feedback strengthens their belief in their ability and responsibility to make a difference for positive change.
                        </p>
                    </div>
                    <img src="~/Media/icon8.png" style="width: 280px; margin-left:35px;">
                </div>
            </div>

            <button style="position:absolute; top:250px; right: 10px; z-index: 999" onclick="icon()"> Next </button>

            @*<div class="button-container" style="">
                    <div class="mybutton1" onclick="nextPage1()">
                        <div class="btn">Next</div>
                    </div>
                </div>*@

        </div>
    </div>

    <!-- Videos -->
    <div style="position:absolute; top:1050px; left:800px;">
        <h4>Helpful External Videos</h4>
    </div>

    <div class="card" style="position: absolute; width: 44%; height:300px; background-color: white; top: 1090px; right: 30px; margin-bottom:30px;">
        <!-- video 1-->
        <div class="flip-card-content" id="card1">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white;">
                        How Can We Keep Plastics <br />
                        Out of Our Ocean?
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParent1.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play1"> Watch </button>
            </div>
        </div>

        <!-- video 2-->
        <div class="flip-card-content" id="card2" style="display: none;">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; line-height: 2.2;">
                        When The World <br />
                        Gets 1℃ Hotter
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParent2.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play2"> Watch </button>
            </div>
        </div>

        <!-- video 3-->
        <div class="flip-card-content" id="card3" style="display: none;">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; line-height: 3.0;">
                        Why Do We
                        Need Trees?
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParent3.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play3"> Watch </button>
            </div>
        </div>

        <!-- video 4-->
        <div class="flip-card-content" id="card4" style="display: none;">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; font-size:23px; line-height: 1.9">
                        Carbon capture: the hopes,
                        challenges & controversies
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParents4.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play4"> Watch </button>
            </div>
        </div>

        <!-- video 5-->
        <div class="flip-card-content" id="card5" style="display: none;">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; font-size:23px; line-height: 2.4">
                        Global renewables:
                        Pioneering the energy transition
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParents5.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play5"> Watch </button>
            </div>
        </div>

        <!-- video 6-->
        <div class="flip-card-content" id="card6" style="display: none;">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; font-size:23px; line-height: 2.4">
                        Movies That Teach
                        Kids About Climate Change
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParents6.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play6"> Watch </button>
            </div>
        </div>

        <!-- video 7-->
        <div class="flip-card-content" id="card7" style="display: none; ">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white; font-size:20px; line-height: 2.3">
                        TV Shows and Films That Teach Your Children About Environmental Issues
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParents7.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
                <button style="position: absolute; bottom: 0; left: 200px;" id="play7"> Watch </button>
            </div>
        </div>

        <button style="position: absolute; bottom: 0; right: 0; background-color:transparent;" onclick="nextPage4()">Next</button>
    </div>
</body>
</html>

<!-- Activities logic -->
<script>
    function PageManager(totalPages, prefix) {
        this.currentPage = 1;
        this.totalPages = totalPages;
        this.prefix = prefix;

        this.nextPage = function () {
            const currentCard = document.getElementById(`${this.prefix}${this.currentPage}`);
            const nextCard = document.getElementById(`${this.prefix}${(this.currentPage % this.totalPages) + 1}`);

            currentCard.classList.add('hidden');
            setTimeout(() => {
                currentCard.style.display = 'none';
                nextCard.style.display = 'block';
                nextCard.classList.remove('hidden');
            }, 500);

            this.currentPage = (this.currentPage % this.totalPages) + 1;
        };
    }

    let cardPageManager = new PageManager(8, 'card');
    let iconPageManager = new PageManager(8, 'icon');

    function nextPage1() {
        cardPageManager.nextPage();
    }

    function icon() {
        iconPageManager.nextPage();
    }

    function nextPage4() {
        cardPageManager.nextPage();
    }
</script>


<!-- 1st video -->
<script>
    document.getElementById('play1').addEventListener('click', function () {
        window.location.href = 'https://youtu.be/HQTUWK7CM-Y?si=C38dVd7y_UxH9gFG';
    });
</script>

<!-- 2nd video -->
<script>
    document.getElementById('play2').addEventListener('click', function () {
        window.location.href = 'https://youtu.be/dIsjcG7hTmo?si=HCPJA-mzMfU49e73';
    });
</script>

<!-- 3rd video -->
<script>
    document.getElementById('play3').addEventListener('click', function () {
        window.location.href = 'https://youtu.be/UnwMq1gGjhk?si=pD4qc1i51HMxGGtb';
    });
</script>

<!-- 4th video -->
<script>
    document.getElementById('play4').addEventListener('click', function () {
        window.location.href = 'https://youtu.be/laGtd-b0vMY?si=KKpwAG5YMihHzQ0e';
    });
</script>

<!-- 5th video -->
<script>
    document.getElementById('play5').addEventListener('click', function () {
        window.location.href = 'https://youtu.be/UVf2Yw7uFoE?si=_Uqox4WsveZeyMDB';
    });
</script>

<!-- 6th video -->
<script>
    document.getElementById('play6').addEventListener('click', function () {
        window.location.href = 'https://www.commonsensemedia.org/lists/movies-that-teach-kids-about-climate-change';
    });
</script>

<!-- 7th video -->
<script>
    document.getElementById('play7').addEventListener('click', function () {
        window.location.href = 'https://emmareed.net/tv-shows-and-films-that-teach-your-children-about-environmental-issues/';
    });
</script>


