@{
    ViewBag.Title = "Parents";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Layout</title>

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <!--<link href="~/css/style.css" rel="stylesheet">-->

    <style>
        .text-brown {
            color: white;
        }

        .boxed-link {
            border: 2px solid #A52A2A;
            border-radius: 5px;
        }

        .navbar-nav .nav-link {
            position: relative;
            transition: color 0.5s, border-bottom 0.5s;
            margin-right: 20px;
        }

        .navbar-nav .nav-link:hover {
            color: orangered;
        }

        .navbar-nav .nav-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 2px;
            background-color: orangered;
            transition: width 0.5s;
            transform: scaleX(0);
            transform-origin: left;
        }

        .navbar-nav .nav-link:hover::after {
            transform: scaleX(1);
        }

        .card {
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: row;
            border: 1px solid #ccc;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .card-title {
            font-size: 30px;
            font-weight:bold;
            font-family:Arial;
            margin-top: 10px;
            margin-bottom: 5px;
            color: black;
        }

        .card-content {
            flex: 1;
            margin-left: 30px;
            margin-bottom: 10px;
        }

        .card-header {
            background-color: red; /* 红色背景 */
        }

        .card-body {
            padding: 10px 0;
        }

        hr {
            margin: 0;
            border: none;
            height: 2px;
            background-color: black; /* 黑色分界线 */
        }

        .left-side {
            float: left;
            width: 30%;
            color: white;
            background-color: blue;
            padding: 10px;
        }

        .right-side {
            float: right;
            width: 70%;
            background-color: white;
            padding: 10px;
        }

        button {
            padding: 8px 16px;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #0056b3;
        }

        .flip-card-content {
            transition: transform 0.5s, opacity 0.5s ease-in-out;
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }

        .hidden {
            opacity: 0;
            transform: scale(0.95);
            display: none;
        }

    </style>

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <div class="container">
            @Html.ActionLink("Green Guardians", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-brown" href="@Url.Action("Dashboard", "Home")" style="font-weight: bolder;">
                                <img src="~/Media/go_to_dashboard.png" alt="Dashboard Icon" style="width: 180px; height: 50px; margin-right: 5px;">
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
    <div style="display: flex; align-items: center;">
        <h1 style="text-align: left; margin-bottom: 20px; flex: 1;">
            <span>
                &#128107;
            </span> Welcome, Parents!
        </h1>
    </div>

    <!-- Teaching Resources -->
    <div style="margin-top:30px; margin-bottom:30px; display: flex; align-items: center;">
        <h4>Teaching Resources</h4>
        <h4 style="margin-left: 470px;">Activities with the kids</h4>
    </div>

    <!-- Activities -->
    <div class="card" style="position: absolute; width: 44%; height:40vh; background-color: white; top: 280px; right: 30px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1-->
            <div class="page" id="page1" style="display: block;">
                <div class="card-header" style="background-color: red;">
                    <div class="card-title">Nature Walks and Observations</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Take nature walks in different environments such as parks, forests, or beaches. <br />
                            Encourage kids to observe changes in the environment, such as plant growth, animal behaviour, and weather patterns.
                        </p>
                    </div>
                    <img src="~/Media/star.png" style="width: 150px;">
                </div>
            </div>

            <!-- additional pages-->
            <div class="page" id="page2" style="display: none;">
                <div class="card-title">Gardening</div>
                <div style="color: black; margin-left: 30px;">
                    <h4>
                        Start a garden at home or involve kids in gardening. <br />
                        Teach them about the importance of plants in absorbing carbon dioxide and how gardening can help mitigate climate change.
                    </h4>
                </div>
            </div>

            <div class="button-container" style="float:right; margin-bottom:20px;">
                <div class="mybutton1" onclick="nextPage()">
                    <div class="btn">NEXT</div>
                </div>
            </div>

        </div>
    </div>

    <!-- Book -->
    <div class="card">
        <div class="left-side">
            <div class="card-content">
                <div class="card-title" style="color:white;">Stories</div>
                <div style="color:white;">
                    Book 1
                </div>
            </div>
        </div>
        <div class="right-side">
            <div style="position: relative; width: 100%; height: 0; padding-top: 156.2500%; padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden; border-radius: 8px; will-change: transform;">
                <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
                        src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDOK-XQtI&#x2F;l8kEGmebSRVFKmMO52CWKA&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
                </iframe>
            </div>
            <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAGDOK-XQtI&#x2F;l8kEGmebSRVFKmMO52CWKA&#x2F;view?utm_content=DAGDOK-XQtI&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">Story Book</a> by MZ 3N
        </div>
    </div>

    <!--  Helpful External Reads -->
    <div style="margin-bottom:10px;">
        <h4> Helpful External Reads</h4>
    </div>

    <div class="card" style="position: absolute; width: 43.5%; height:40vh; background-color: white; top: 1090px; left: 100px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1-->
            <div class="page" id="page1" style="display: block;">
                <div class="card-header" style="background-color: red;">
                    <div class="card-title">Nature Walks and Observations</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Take nature walks in different environments such as parks, forests, or beaches. <br />
                            Encourage kids to observe changes in the environment, such as plant growth, animal behaviour, and weather patterns.
                        </p>
                    </div>
                    <img src="~/Media/star.png" style="width: 150px;">
                </div>
            </div>

            <!-- additional pages-->
            <div class="page" id="page2" style="display: none;">
                <div class="card-title">Gardening</div>
                <div style="color: black; margin-left: 30px;">
                    <h4>
                        Start a garden at home or involve kids in gardening. <br />
                        Teach them about the importance of plants in absorbing carbon dioxide and how gardening can help mitigate climate change.
                    </h4>
                </div>
            </div>

            <div class="button-container" style="float:right; margin-bottom:20px;">
                <div class="mybutton1" onclick="nextPage()">
                    <div class="btn">NEXT</div>
                </div>
            </div>

        </div>
    </div>

    <!-- Communication Tips -->
    <div style="position:absolute; top:660px; left:800px;">
        <h4>Communication Tips</h4>
    </div>

    <div class="card" style="position: absolute; width: 44%; height:40vh; background-color: white; top: 730px; right: 30px;">
        <div class="card-content" style="margin-left:0px;">
            <!-- Page 1-->
            <div class="page" id="page1" style="display: block;">
                <div class="card-header" style="background-color: red;">
                    <div class="card-title">Nature Walks and Observations</div>
                </div>
                <hr style="margin: 0;">
                <div class="card-body">
                    <div style="color: black; margin-left: 30px; float: left;">
                        <p style="width:290px;line-height: 2.0;">
                            Take nature walks in different environments such as parks, forests, or beaches. <br />
                            Encourage kids to observe changes in the environment, such as plant growth, animal behaviour, and weather patterns.
                        </p>
                    </div>
                    <img src="~/Media/star.png" style="width: 150px;">
                </div>
            </div>

            <!-- additional pages-->
            <div class="page" id="page2" style="display: none;">
                <div class="card-title">Gardening</div>
                <div style="color: black; margin-left: 30px;">
                    <h4>
                        Start a garden at home or involve kids in gardening. <br />
                        Teach them about the importance of plants in absorbing carbon dioxide and how gardening can help mitigate climate change.
                    </h4>
                </div>
            </div>

            <div class="button-container" style="float:right; margin-bottom:20px;">
                <div class="mybutton1" onclick="nextPage()">
                    <div class="btn">NEXT</div>
                </div>
            </div>

        </div>
    </div>

    <!-- Videos -->
    <div style="position:absolute; top:1050px; left:800px;">
        <h4>Helpful External Videos</h4>
    </div>

    <div class="card" style="position: absolute; width: 44%; height:40vh; background-color: white; top: 1090px; right: 30px; margin-bottom:30px;">
        <div class="flip-card-content" id="card1">
            <div class="left-side">
                <div class="card-content">
                    <div class="card-title" style="color:white;">
                        How Can We Keep Plastics <br />
                        Out of Our Ocean?
                    </div>
                </div>
            </div>
            <div class="right-side">
                <img src="~/Media/videoParent1.png" style="width: 70%; height:40vh; margin-left: 0px; position: absolute; bottom: 0px; right: 0px" />
            </div>
        </div>

        <button style="position: absolute; bottom: 0; left: 200px; "> Watch </button>
        <button style="position: absolute; bottom: 0; right: 0; background-color:transparent;" onclick="nextPage4()">Next</button>
    </div>
</body>
</html>

<script>
    let currentPage = 1;

    function nextPage4() {
        const totalPages = 2; // 总页数
        const currentCard = document.getElementById(`card${currentPage}`);
        const nextCard = document.getElementById(`card${(currentPage % totalPages) + 1}`);

        currentCard.classList.add('hidden');
        setTimeout(() => {
            currentCard.style.display = 'none';
            nextCard.style.display = 'block';
            nextCard.classList.remove('hidden');
        }, 500);

        currentPage = (currentPage % totalPages) + 1;
    }

</script>
